.container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Add consistent spacing between elements */
  margin-left: 3rem;
  margin-right: 2rem;
  flex-wrap: nowrap; /* Prevent wrapping in the default case */
}

.label {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(99, 101, 104);
  text-transform: uppercase;
  flex-shrink: 0; /* Prevent shrinking */
  width: 150px; /* Set a fixed width */
  white-space: nowrap; /* Prevent text from breaking to a new line */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  text-align: right;
}

.input-container {
  flex-grow: 1; /* Let the input container take the remaining space */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input {
  width: 100%; /* Make the input take the full width of its container */
  box-sizing: border-box;
  border-radius: 2px;
  text-transform: capitalize;
}

.icon {
  font-size: 1.8rem;
  color: rgb(148 163 184 / 1);
  flex-shrink: 0; /* Prevent shrinking */
}


@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: stretch; /* Stretch the elements to full width */
  }

  .input-container {
    width: 100%; /* Make input container full width */
  }
}


